.sbq {
	margin-right: 0;
	height: 48px;
	width: 416px;
	_width: 414px;
	padding: 0 10px;
	border: 1px solid #7590f5;
	border-radius: 0;
	background-color: white;
	font-size: 16px;
	z-index: 1;
	color: #333;
	*float: left
}

.sbq-w {
	position: static;
	display: inline-block;
	*display: inline;
	float: left;
	*margin-left: auto;
	*margin-right: auto
}


.sbq:focus, .sbq:hover {
	-moz-box-shadow: 0 0 3px #a5b2f4;
	-webkit-box-shadow: 0 0 3px #a5b2f4;
	box-shadow: 0 0 3px #a5b2f4;
	outline: none
}

.itt:focus, .itt:hover {
	background: #F1F1F1 !important;
	color: #222;
	text-shadow: 0 1px 0 #fff
}

.sbb {
	float: left;
	width: 83px;
	_width: 83px;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
	height: 50px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid #524dfe;
	background-color: #524dfe;
	font-weight: normal;
	position: relative;
	-webkit-appearance: none;
	outline: none
}



.sbb .text {
	display: none;
	*display: block
}


.off-left {
	left: -9999px;
	position: absolute
}

.sa-sbx-container {
	position: absolute;
	width: 100%;
	margin-top: -2px;
	z-index: 1000
}

#bd {
	margin-top: 80px;
	display: inline-block;
	*display: inline;
	*zoom: 1
}

.mag-glass {
	color: white;
	font-size: 0;
	display: inline-block;
	*display: none;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	position: relative
}

.mag-glass .lens {
	position: absolute;
	border: 3px solid white;
	width: 14px;
	height: 14px;
	background: transparent;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px
}

.mag-glass .handle {
	position: absolute;
	display: block;
	border: 1px solid white;
	background-color: white;
	width: 8px;
	height: 3px;
	right: 1px;
	bottom: 3px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}
.sbb .text {
	display: none;
	*display: block
}

.notanimated #logo {
	position: static
}


#purple-syc {
	height: 100%;
	text-align: center;
	position: relative;
	min-width: 980px;
	max-width: 1500px;
	min-height: 600px;
	max-height: 1080px;
	margin: auto;
	_width: 1250px
}

.sa-sbx-container {
	position: absolute;
	width: 100%;
	margin-top: -2px;
	z-index: 1000
	z-index: 1;
	width: 438px;
	*width: 436px;
	_width: 436px !important;
	*top: 160px;
	text-align: left;
	*clear: both
}

.sa-trayt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #aaa;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: #aaa;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #aaa;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #ccc;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: 0 1px 2px 0 #cdcdcd;
    z-index: 2;
}

.sa .sa-tray {
	background: #fff;
	z-index: 2;
	border: 1px solid #aaa;
	border-top-color: #ccc;
	-webkit-box-shadow: 0 1px 2px 0 #cdcdcd;
	-moz-box-shadow: 0 1px 2px 0 #cdcdcd;
	-ms-box-shadow: 0 1px 2px 0 #cdcdcd;
	box-shadow: 0 1px 2px 0 #cdcdcd;
	border-radius: 0 0 2px 2px
}

.sa .sa-tray-list-container {
	padding: 0;
	margin-bottom: 0;
	margin-top: 0
}

.sa-tray-list-container li {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-weight: 400;
	font-stretch: normal;
	font-size: 16px;
	color: #333;
	padding: 4px 10px;
	word-wrap: break-word;
	line-height: 18px;
	height: inherit;
	margin: 0;
	list-style: none;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	cursor: default;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.sa-tray-list-container .list-item-hover, .sa-tray-list-container li.list-item-selected
	{
	background: #F1F1F1 !important;
	color: #222;
	text-shadow: 0 1px 0 #fff
}



html {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #000;
}
body {
    -x-system-font: none;
    font-family: arial,helvetica,clean,sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: normal;
    line-height: 1.231;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

select, input, button, textarea, body {
    -x-system-font: none;
    color: #000;
    font-family: helvetica neue,helvetica,arial,sans-serif;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-weight: normal;
    line-height: 1.25;
}
