
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>Welcome to CrazyTeam</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700'>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="logo span4">
                        <h2><a href="http://www.lobinary.com/">WelCome to <span class="red">CrazyTeam</span></a></h2>
                    </div>
                    <div class="links span8">
                        <a class="home" href="http://www.lobinary.com/" rel="tooltip" data-placement="bottom" data-original-title="Home"></a>
                        <a class="blog" href="http://www.lobinary.com/" rel="tooltip" data-placement="bottom" data-original-title="Blog"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="register-container container">
            <div class="row">
                <div class="register span6">
                    <form action="http://www.lobinary.com/control/platform/team/add/register.anonymous" method="post">
                        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REGISTER TO <span class="red"><strong>CrazyTeam</strong></span></h2>
                        <label for="name">名字</label>
                        <input type="text" id="name" name="name" placeholder="输入您的名字...">
                        <label for="qq">QQ</label>
                        <input type="text" id="qq" name="qq" placeholder="输入您的QQ...">
                        <label for="phone">电话</label>
                        <input type="text" id="phone" name="phone" placeholder="输入您的电话号...">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="输入您的email...">
                        <label for="work">期望职责</label>
                        <input type="text" id="work" name="work" placeholder="加入我们，想要做什么呢？">
                        <label for="addReason">说你想说</label>
                        <input type="text" id="addReason" name="addReason" placeholder="马上要加入团队了，想说啥？">
                        <label for="password">密码</label>
                        <input type="password" id="password" name="password" placeholder="输入您的密码，将作为svn等应用的默认密码...">
                        <button type="submit">REGISTER</button>
                    </form>
                </div>
            </div>
        </div>
		<div align="center">Collect from <a href="http://www.lobinary.com/" target="_blank" title="CrazyLobinary">CrazyTeam</a></div>
        <!-- Javascript -->
        <script src="assets/js/jquery-1.8.2.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
         <script src="assets/js/scripts.js"></script>

    </body>

</html>

